<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title || 'Mi Sitio Web' %></title>
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/fontawesome/all.css">
    <script src="/js/jquery.min.js"></script>
    <script src="/js/metodos.js"></script>
    <script src="/js/fontawesome/all.js"></script>
</head>
<body>
    <header>
        <div><%= headerTitle || 'Bienvenido a Mi Sitio' %>
            <div id="der" class="rosa"><img src="/img/derecha-arriba.png" width="100%"  alt=""></div>
            <div id="izq" class="rosa"><img src="/img/derecha-arriba.png" width="100%"  alt=""></div>
        </div>
    </header>
