<footer>
    <p>&copy; <span id="year"></span> <span id="company-name"><%= corp %></span>. Todos los derechos reservados. <span class="wa"><i class="fab fa-whatsapp fa-2x"></i></span></p>
</footer>

</body>
</html>